.user-layout-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden; 
}

video {
    position: absolute;
    top: 0;
    left: 0;
   
}
.header {
    background: transparent !important;
}

.header .lang {
    float: right;
}

.content {
    flex: 1;
    padding: 32px 0;
}

.content .top {
    text-align: center;
}

.content .top .content-header {
    position: relative;
    height: 44px;
    line-height: 44px;
    margin-bottom: 40px;

}

.content .top .content-header a {
    text-decoration: none;
}

.content .top .content-header .logo {
    position: absolute;
    left: 46.5%;
    height: 44px;
    vertical-align: top;
    float: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.content .top .content-header .title {
    position: absolute;
    color: #5a5a5a;
    font-weight: 600;
    font-size: 33px;
    font-family: Avenir, 'Lofty', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}