.page-content {
    width: 1230px;
    margin: 0 auto;
    min-height: 75vh;
  }
  
  .product-intro-container {
      margin-top: 20px;
      background-color: white;
    }
    
    .product-detail-anchor {
      margin: 20px 0;
    }

    .product-detail-label {
      display: flex;
      padding: 10px 0;
    }
    
    .product-detail-container {
      background: white;
      margin: 20px 0 30px 0;
      padding: 20px 0 30px 0;
    }